   <div class="bs-example" data-example-id="striped-table">
  <h1>Listing users - <%= link_to 'Show Users', users_path , :class => "btn btn-large btn-info" %> 
   <%= link_to 'New User', new_user_path , :class => "btn btn-info" %></h1>
 </div>
